.image{
  img{
    width: 100%;
  }
}
.profileHeader{
  img{
    width: 100px;
    border-radius: 15%;
  }
  display: flex;
  div{
    margin-right: 50px;
  }
}
.fullName{
  font-size: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
}
.bio{
  div{
    margin: 10px 0px;
  }
  .aboutMe{
    font-size: 20px;
  }
}
.Profile{
  margin-bottom: 30px;
}
.ProfileForm{
  margin-bottom: 50px;
  font-weight: 800;
  div{
    margin-bottom: 10px
  }
  .input{
    float: right;
    &:before{
      clear: both;
      content: '';
      display: block;
    }
  }
  .errorMessege{
    color:red;
    font-weight: 800;
  }
}
