.App {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
  li{
    color: white;
    text-decoration: none;
    a {
      color:white;
      &.active {
        color: gold;
      }
    }
  }
  .content {
    display: flex;
  }
}